@import "../../assets/css/variable";

.bag {
    &__container {
        display: flex;
        width: 100%;
        gap: 30px;
    }

    &__products {
        width: 60%;


        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-radius: 2px;
            padding: 22px 20px;
            margin-bottom: 20px;
            gap: 15px;

            &-image {
                width: 100px;
                height: 100px;

            }



            &-price {
                font-weight: 500;
            }

            &-name-color {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }

            &-price-quantity {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: auto;
                gap: 30px;
            }

            &-name {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* number of lines to show */
                line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: 400;
                font-size: 16px;
            }

            &-color {
                color: $paragraph-color;
            }



            &-quantity {
                display: flex;
                align-items: center;
                background-color: $placeholder-color;

                font-size: 20px;
                gap: 10px;

                & button {
                    padding: 5px;
                }

                &span {
                    padding: 0 10px;
                }
            }

            &-remove {
                font-size: 30px;
                cursor: pointer;
                color: #b7bac0;
            }
        }
    }

    &__summary {
        width: 40%;
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        padding: 40px;

        &-products {
            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                margin-bottom: 20px;
                width: 100%;

                &-image {
                    width: 70px;
                    height: 70px;
                    border-radius: 2px;
                }

                &-name {
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    /* number of lines to show */
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                    margin-bottom: 10px;
                    word-wrap: break-word;
                }

                &-price-color {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    & p {
                        font-weight: 500;
                    }

                    & h3 {
                        font-size: 16px;
                        color: $paragraph-color;
                        word-wrap: break-word;
                    }
                }


            }

            &-quantity {
                color: #b7bac0;
            }


        }

        &-code {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;

            & input[type="text"] {
                width: 70%;
                border: 1px solid #F4EFEB;
                padding: 0.833rem 1.667rem;
                outline: none;
            }
        }

        &-total {
            &-item {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            & hr {
                margin-bottom: 30px;
                border: 1px solid $paragraph-color;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }


}

@media only screen and (min-width:46.25rem) and (max-width: 63.938rem) {
    .bag {
        &__container {
            gap: 10px;
        }

        &__products,
        &__summary {
            width: 100%;
            font-size: 16px;
        }

        &__products {
            &-info {
                flex-direction: column;
                gap: 0px;
            }

            &-item {
                padding: 10px;
                gap: 10px;

                &-name {
                    font-size: 16px;
                }

                &-image {
                    width: 50px;
                    height: 50px;
                }

                &-price-quantity {
                    width: 100%;
                }
            }
        }

        &__summary {
            padding: 10px;

            &-products {
                &-item {
                    &-name {
                        font-size: 16px;
                    }

                    &-image {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            &-code {

                & input,
                & button {
                    width: 50%;
                }

                & input[type="text"] {
                    padding: 0.833rem 0.667rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 46.188rem) {
    .bag {
        &__container {
            flex-direction: column;
        }

        &__products,
        &__summary {
            width: 100%;
            font-size: 14px;
        }

        &__products {
            &-info {
                flex-direction: column;
                gap: 0px;
            }

            &-item {
                padding: 5px;
                gap: 10px;

                &-name {
                    font-size: 14px;
                }

                &-image {
                    width: 50px;
                    height: 50px;
                }

                &-price-quantity {
                    width: 100%;
                }
            }
        }

        &__summary {
            padding: 5px;

            &-products {
                &-item {
                    &-name {
                        font-size: 14px;
                    }

                    &-image {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            &-code {

                & input,
                & button {
                    width: 50%;
                }
            }
        }
    }
}