.testimonials {

    &__item {
        padding: 30px 25px;
        background-color: #fff;
        margin: 0 15px;
        border-radius: 8px;
        width: 100%;

        & img {
            width: 40px;
            height: 40px;
            margin-bottom: 26px;
        }

        & p {
            text-align: left;
            margin-bottom: 26px;
        }
    }

    &__flex,
    &__user,
    &__rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        flex-wrap: nowrap;
    }

    &__user {

        & img {
            width: 40px;
            border-radius: 5rem;
        }

        & p {
            font-size: 1.111rem;
            font-weight: bold;
        }
    }

    &__rate {
        & img {
            width: 40px;
        }

        & p {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

.testimonials .slick-slide {
    margin: 0 10px;
}

// .testimonials .slick-list {
//     margin: 0 -10px;
// }

@media only screen and (max-width: 46.188rem) {
    .testimonials {
        display: none;
    }
}

@media only screen and (min-width:46.25rem) and (max-width: 63.938rem) {
    .testimonials {
        display: none;
    }
}