@import "../../assets/css/variable";

.info-product {
    &__name {
        font-weight: 700;
        font-size: 2.444rem; //44
        margin-bottom: 15px;
    }

    &__category {
        margin-bottom: 15px;

        & a {

            color: $text-color;
        }

        & a:hover {
            text-decoration: underline;
        }
    }

    &__color {
        margin-bottom: 15px;

        & label {
            margin-bottom: 15px;
            display: block;
            font-weight: 600;
            font-size: 1rem;
        }

        & span {
            display: inline-block;
            width: 50px;
            height: 50px;

        }
    }

    &__description {
        margin-bottom: 30px;
    }

    &__price {
        font-weight: 700;
        font-size: 2.444rem; //44
        margin-bottom: 50px;
    }

    &__actions {
        display: flex;
        gap: 30px;

        & button {
            width: 100%;
            font-weight: 600;
        }

        & button:last-child {
            background-color: #fff;
            color: $text-color;
            border: 2px solid #F3F3F3;
        }
    }
}

@media only screen and (min-width:46.25rem) and (max-width: 63.938rem) {
    .info-product {
        &__name {
            font-size: 1.333rem; //24
            margin-bottom: 5px;
        }

        &__category {
            margin-bottom: 10px;
            font-size: 14px;

        }

        &__color {
            margin-bottom: 15px;
            font-size: 14px;

            & label {
                margin-bottom: 10px;
                font-size: 14px;
            }

            & span {
                width: 30px;
                height: 30px;

            }
        }

        &__description {
            margin-bottom: 15px;
            font-size: 14px;
        }

        &__price {

            font-size: 1.333rem; //24
            margin-bottom: 30px;
        }

        &__actions {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 46.188rem) {
    .info-product {
        &__name {
            font-size: 1.333rem; //24
            margin-bottom: 5px;
        }

        &__category {
            margin-bottom: 10px;
            font-size: 14px;

        }

        &__color {
            margin-bottom: 15px;
            font-size: 14px;

            & label {
                margin-bottom: 10px;
                font-size: 14px;
            }

            & span {
                width: 30px;
                height: 30px;

            }
        }

        &__description {
            margin-bottom: 15px;
            font-size: 14px;
        }

        &__price {

            font-size: 1.333rem; //24
            margin-bottom: 30px;
        }

        &__actions {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
    }
}